body{
    background-color: #FFB253;
}

.col-md-3{
    margin-top: 10px;
    margin-left: 70px;
    text-align: center;
    color: white;
}

.glyphicon{
    font-size: 50px;
    padding: 10px;
}

#log-out{
margin-left: 85%;
}

#salir{
    width: 350px;
}

#cabecera{
    text-align: center;
    color: white;
    background-color: #FF4042;
    font-size: 30px;
    padding: 20px;
    font-size: 10em;
}

h1{
    font-size: 70px;
}

.col-md-6, .col-md-4{
    padding: 0px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      //width: 70%;
      margin: auto;
}

.carousel-control.right{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 0%);
}

.carousel-control.left{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0000) 0,rgba(0,0,0,.0) 0%);
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
    color: black;
}